@charset "utf-8";
/* CSS Document */
@media all{

.request-hero{
  background: var(--NavBG) url(../images/request-demo/request-hero-bg.svg) no-repeat top center;
  background-size: cover;
}

.request-hero h1{font-size: var(--HeadingThree); color: var(--WhiteClr); font-weight:700;}
.video-intro{grid-template-columns: 30% 1fr; column-gap: 60px; padding: 35px; margin-top:80px; 
  background: rgba(255, 255, 255, 0.14); border: 0.5px solid rgba(255, 255, 255, 0.31); backdrop-filter: blur(12.3px); border-radius: 32px;
}

.video-table h3{font-size: 22px;font-weight: 500;color: var(--WhiteClr);margin-bottom: 10px;}
.video-table ul{list-style: none; padding: 0px; margin: 0px;}
.video-table ul li{padding: 13px 0px; border-bottom:solid 1px rgb(249 249 249 / 50%); color: var(--WhiteClr); font-size: 16px; display: flex; letter-spacing: 0.5px;}
.video-table ul li:last-child{padding-bottom: 0px; border-bottom: 0px;}
.video-table ul li span{width:60px; letter-spacing: 0.5px;}

.para-icon1,
.para-icon2{width: 250px;animation: float 5s infinite ease-in-out;}
.para-icon1{bottom: -12%;left: -10%;animation-delay: 0s;animation-duration: 6s;transform: translateZ(-2px);}
.para-icon2{top: 15%;right: -10%;animation-delay: 1s;animation-duration: 5s;transform: translateZ(-1px);}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


}

@media all and (max-width:1200px){
  .video-intro{grid-template-columns:1fr; row-gap: 60px; padding: 35px; margin-top:80px;}
  .video-table ul{display: grid; grid-template-columns: 1fr 1fr; column-gap:4rem;}
  .video-table ul li:last-child{border-bottom:solid 1px rgb(249 249 249 / 50%);}
}

@media all and (max-width:767px){
  .product-hero-left h1{font-size: var(--HeadingTwoSml);}

  .video-intro{ padding:25px; margin-top:40px; row-gap:30px; border-radius: 10px;}
  .video-table ul{grid-template-columns: 1fr;}
  .video-table ul li:last-child{border-bottom:solid 0px rgb(249 249 249 / 50%);}

  .demo-video{margin: 0px -25px -25px -25px; border-radius: 0px 0px 10px 10px; overflow: hidden;}
  .demo-video .ratio-16x9{--bs-aspect-ratio:75%}
  
}

